<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     {{#if message}}
                   <div class="alert alert-success" role="alert">
                     {{#each message}}

                         <p>{{this}}</p>

                     {{/each}}
                   </div>
               {{/if}}

               {{#if errors}}
                   <div class="alert alert-danger" role="alert">
                     {{#each errors}}

                         <p>{{this}}</p>

                     {{/each}}
                   </div>
               {{/if}}
               {{#if alert}}
                   <div class="alert alert-info" role="alert">
                     {{#each alert}}

                       <p>{{this}}</p>

                     {{/each}}
                   </div>
               {{/if}}
     <h1>
       News
     </h1>

   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-md-12">
         <form role="form" method="post" action="/admin/news/{{news.id}}/update" enctype="multipart/form-data">

         <div class="box box-info">
           <div class="box-header">
             <h3 class="box-title">Heading
             </h3>
             <!-- tools box -->
             <div class="pull-right box-tools">
               <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                 <i class="fa fa-minus"></i></button>

             </div>
             <!-- /. tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body pad">
                   <textarea id="editor1" name="heading" rows="10" cols="80">
                                           {{news.heading}}
                   </textarea>
           </div>
         </div>
         <!-- /.box -->
         <div class="box box-info">
           <div class="box-header">
             <h3 class="box-title">Description
             </h3>
             <!-- tools box -->
             <div class="pull-right box-tools">
               <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                 <i class="fa fa-minus"></i></button>

             </div>
             <!-- /. tools -->
           </div>
           <!-- /.box-header -->
           <div class="box-body pad">

                   <textarea id="editor2" name="description" rows="10" cols="80">
                                           {{news.description}}
                   </textarea>

           </div>
         </div>

         <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
         </form>
       </div>
       <!-- /.col-->
     </div>
     <!-- ./row -->
   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->
