<!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     {{#if message}}
                   <div class="alert alert-success" role="alert">
                     {{#each message}}

                         <p>{{this}}</p>

                     {{/each}}
                   </div>
               {{/if}}

               {{#if errors}}
                   <div class="alert alert-danger" role="alert">
                     {{#each errors}}

                         <p>{{this}}</p>

                     {{/each}}
                   </div>
               {{/if}}
               {{#if alert}}
                   <div class="alert alert-info" role="alert">
                     {{#each alert}}

                       <p>{{this}}</p>

                     {{/each}}
                   </div>
               {{/if}}
     <h1>
       Team member
       <small>Edit</small>
     </h1>

   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-md-12">
         <form role="form" method="post" action="/admin/team/{{team.id}}/update" enctype="multipart/form-data">
           <div class="box">
             <div class="box-header">
               <h3 class="box-title">Structure
               </h3>
               <!-- /. tools -->
             </div>
             <!-- /.box-header -->
             <div class="box-body pad">

                  <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" value="{{team.name}}" class="form-control" id="name" placeholder="Enter name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="position">Position</label>
                    <input type="text" value="{{team.post}}" class="form-control" id="position" placeholder="Enter position" name="position">
                  </div>
                  <div class="form-group">
                    <label for="description">Description</label>
                  <textarea id="description" name="description" rows="10" cols="80">
                                          {{team.intro}}
                  </textarea>
                </div>

             </div>
           </div>

         <!-- /.box -->


         <div class="box-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
         </form>
       </div>
       <!-- /.col-->
     </div>
     <!-- ./row -->
   </section>
   <!-- /.content -->
 </div>
 <!-- /.content-wrapper -->
