
<!--Start header-search  area-->
<section class="header-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="search-form pull-right">
                    <form action="#">
                        <div class="search">
                            <input type="search" name="search" value="" placeholder="Search Something">
                            <button type="submit"><span class="flaticon-magnifying-glass"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End header-search  area-->

<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="logo">
                    <a href="/"><img src="/images/logo1.png" alt="Awesome Logo" style="witdth: 50px;height:50px"></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <ul class="contact-info">
                    <li>
                        <div class="icon-holder">
                            <span class="flaticon-signs"></span>
                        </div>
                        <div class="content">
                            <h5>{{partialData.primaryAddress.address}}, <br>
                            {{partialData.primaryAddress.city}}, {{partialData.primaryAddress.pin}},
                          {{partialData.primaryAddress.country}}</h5>
                        </div>

                    </li>
                    <li>
                        <div class="icon-holder">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="content">
                            <h5>{{partialData.primaryAddress.from}} - {{partialData.primaryAddress.to}} <br>Mon - Sun</h5>
                        </div>
                    </li>
                    <li class="pdleft">
                        <div class="icon-holder">
                            <span class="flaticon-phone-call"></span>
                        </div>
                        <div class="content">
                            <h5>{{partialData.primaryAddress.phone}}<br>Call us for enquiry</h5>
                        </div>
                    </li>
                    <li class="request">
                        <a class="request-quote hvr-sweep-to-bottom" href="/admin/login">Admin Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--End header area-->

<!--Start mainmenu area-->
<section class="mainmeu-area stricky">
    <div class="container">
        <nav class="main-menu pull-left">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse clearfix">
                <ul class="navigation">
                    <li {{#ifCond page "home"}}class="current"{{/ifCond}}><a href="/">Home</a></li>
                    <li class="dropdown {{#ifCond page "about"}}current{{/ifCond}}"><a href="/aboutUs">About us</a>
                        <ul>
                            <li><a href="/history">Company History</a></li>
                            <li><a href="/team">Our Team</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/feedback">Client Feedback</a></li>
                        </ul>
                    </li>
                    <li class="dropdown {{#ifCond page "service"}}current{{/ifCond}}"><a href="/services">Services</a>
                        <ul>
                            <li><a href="/mbbs">MBBS consultancy</a></li>
                            <li><a href="/job">Job consultancy</a></li>
                        </ul>
                    </li>

                    <li {{#ifCond page "updates"}}class="current"{{/ifCond}}><a href="/updates">News</a></li>

                    <li {{#ifCond page "contact"}}class="current"{{/ifCond}}><a href="/contactUs">Contact us</a></li>
                    <li {{#ifCond page "apply"}}class="current"{{/ifCond}}><a href="/apply">Apply Online</a></li>
                </ul>
            </div>
        </nav>
        <div class="social-links pull-right">
            <ul>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
        </div>

    </div>
</section>
<!--End mainmenu area-->
