
<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget Statistic-pdbottom">
                    <div class="footer-logo">
                      <a href="/"><img src="/images/logo1.png" alt="Awesome Logo" style="witdth: 50px;height:50px"></a>
                    </div>
                    <div class="statistic-info">
                        <p>At sanjeewaniglobal we provide the best Guidelines to students and Parents for making bright future. We are not providing only admission Consultation; we provide the best guidelines to students.</p>
                    </div>
                    <ul class="footer-social-links">
                        <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget project-pdbottom">
                    <div class="title">
                        <h3>Latest Updates</h3>
                    </div>
                    <ul class="latest-project">
                      {{#each partialData.updates}}
                        <li>
                            <div class="img-holder">
                                <img src="https://s3.amazonaws.com/sanjeewaniglobal-images/{{this.imageName}}" alt="Awesome Image" style="width: 83px; height: 83px">
                                <div class="overlay">
                                    <div class="box">
                                        <div class="content">
                                            <a href="/news/{{this.id}}/read"><span class="flaticon-link-symbol"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}


                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget project-pdbottom">
                    <div class="title">
                        <h3>Our Team </h3>
                    </div>
                    <ul class="latest-project">
                      {{#each partialData.team}}
                        <li>
                            <div class="img-holder">
                                <img src="https://s3.amazonaws.com/sanjeewaniglobal-images/{{this.imageName}}" alt="Awesome Image" style="width: 83px; height: 83px">
                                <div class="overlay">
                                    <div class="box">

                                    </div>
                                </div>
                            </div>
                        </li>
                        {{/each}}

                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="single-footer-widget">
                    <div class="contact-address">
                        <div id="contact-address-carousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#contact-address-carousel" data-slide-to="0" class="active"></li>
                                {{#each partialData.addresses}}
                                <li data-target="#contact-address-carousel" data-slide-to="{{counter @index}}"></li>
                                {{/each}}
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <div class="single-contact-address">
                                        <ul>
                                           <li class="title">{{partialData.primaryAddress.country}} Office</li>
                                            <li>
                                                <div class="icon-holder map">
                                                    <span class="flaticon-signs"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>{{partialData.primaryAddress.address}} ,<br>{{partialData.primaryAddress.city}},  {{partialData.primaryAddress.pin}}, {{partialData.primaryAddress.state}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-phone-call"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Call us: {{partialData.primaryAddress.phone}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-e-mail-envelope"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mail us : {{partialData.primaryAddress.email}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-clock"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>{{partialData.primaryAddress.from}} - {{partialData.primaryAddress.to}},<br>Mon - Sun</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {{#each partialData.addresses}}
                                <div class="item">
                                    <div class="single-contact-address">
                                        <ul>
                                           <li class="title">{{this.country}} Office</li>
                                            <li>
                                                <div class="icon-holder map">
                                                    <span class="flaticon-signs"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>{{this.address}} ,<br>{{this.city}}, {{this.pin}}, {{this.state}}.</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-phone-call"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Call us: {{this.phone}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-e-mail-envelope"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>Mail us : {{this.email}}</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon-holder">
                                                    <span class="flaticon-clock"></span>
                                                </div>
                                                <div class="content-holder">
                                                    <p>{{this.from}} {{this.to}}, <br>Mon - Sun</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
        </div>
    </div>
</footer>
<!--End footer area-->

<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                <div class="copyright-text">
                    <p>Copyright © 2017 Harsoet pvt. ltd.</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                <ul class="footer-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutUs">About us</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/updates">news</a></li>
                    <li><a href="/contactUs">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
