
<!--Start Rev Slider Wrapper-->
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            <li data-transition="fade">
                <img src="/images/sky-clouds-garden-school.jpg"  alt="" width="1920" height="695" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="slide-content-box">
                        <h1>Welcome to Sanjeewani Global<br>Consultancy</h1>
                        <h3>We’re here to offer the best support, to help<br>you select any MBBS colleges. </h3>
                        <div class="buttons">
                            <a class="hvr-sweep-to-bottom" href="/contactUs">Contact us</a>
                            <a class="black-bg hvr-sweep-to-bottom" href="/services">Our Services</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="slidedown">
                <img src="/images/pexels-photo-300412.jpeg"  alt=""  width="1920" height="695" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="2">
                <div class="tp-caption tp-resizeme"
                    data-x="left" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-splitin="none"
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="1000">
                    <div class="slide-content-box">
                        <h1>New Standards of<br>Excellence</h1>
                        <h3>Our Sanjeewaniglobal company offers a full range of <br>consulting services in many countries</h3>
                        <div class="buttons">
                            <a class="hvr-sweep-to-bottom" href="/contactUs">Contact us</a>
                            <a class="black-bg hvr-sweep-to-bottom" href="/services">Our Services</a>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="/images/pexels-photo.jpg"  alt="" width="1920" height="695" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="0"
                    data-y="center" data-voffset="0"
                    data-transform_idle="o:1;"
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
                    data-splitin="none"
                    data-splitout="none"
                    data-start="500">
                    <div class="slide-content-box">
                        <h1>Successful Careers <br>take Collaboration.</h1>
                        <h3>Our mission is to help clients set new standards<br>of excellence in their career.</h3>
                        <div class="buttons">
                            <a class="hvr-sweep-to-bottom" href="/contactUs">Contact us</a>
                            <a class="black-bg hvr-sweep-to-bottom" href="/services">Our Services</a>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</section>
<!--End Rev Slider Wrapper-->

<!--Start call to action area-->
<section class="call-to-action-area">
    <div class="container">
        <div class="title pull-left">
            <h2>Sanjeewni Global Consultancy, India's Leading admission Consultant.</h2>
        </div>
        <div class="button pull-right">
            <a class="hvr-sweep-to-bottom" href="/apply">Apply Online</a>
        </div>
    </div>
</section>
<!--End call to action area-->

<!--Start welcome area-->
<section class="welcome-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="content">
                    <div class="sec-title">
                        <h1>Welcome to Sanjeewaniglobal </h1>
                        <span class="border"></span>
                    </div>
                    <h3>Welcome to Sanjeewni Global Consultancy, India's Leading admission Consultant. We are providing the best Guidelines to students and Parents for making bright future. We are not providing only admission Consultation; we provide the best guidelines to students.
                      We have directly linked with the Top Most Private Medical colleges in russia. </h3>
                    <p></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="video-box">
                    <img src="/Statistic/img/resources/video-bg.jpg" alt="Awesome Image">
                    <div class="overlay">
                        <div class="box">
                            <div class="content text-center">
                                <a class="video-popup" href="https://www.youtube.com/watch?v=KssOT2QVg-M"><img src="/Statistic/img/resources/play-btn.png" alt="Awesome Image"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End welcome area-->

<!--Start Statistic area-->
<section class="statistic-area">
    <div class="container">
        <div class="row">
            <!--Start single statistic item-->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-statistic-item">
                    <div class="icon-holder">
                        <span class="flaticon-business"></span>
                    </div>
                    <div class="content">
                        <h3>Why Sanjeewaniglobal?</h3>
                        <p>Our goal is  optimise your career by tailoring our services.</p>
                    </div>
                </div>
            </div>
            <!--End single statistic item-->
            <!--Start single statistic item-->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-statistic-item">
                    <div class="icon-holder">
                        <span class="flaticon-business-1"></span>
                    </div>
                    <div class="content">
                        <h3>Pay for Success</h3>
                        <p>We are focused on developing a field through market bonds..</p>
                    </div>
                </div>
            </div>
            <!--End single statistic item-->
            <!--Start single statistic item-->
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-statistic-item">
                    <div class="icon-holder">
                        <span class="flaticon-cogwheel"></span>
                    </div>
                    <div class="content">
                        <h3>Tailor-Made Solutions</h3>
                        <p>We Providing you with optimal solutions.</p>
                    </div>
                </div>
            </div>
            <!--End single statistic item-->
        </div>
    </div>
</section>
<!--End Statistic area-->

<!--Start fact counter area-->
<section class="fact-counter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="title">
                    <h1>What Makes us Special?</h1>
                </div>
            </div>
            <!--Start single fact counter-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fact-counter">
    <span class="timer" data-from="0" data-to="{{company.0.consultantsNo}}" data-speed="2000" data-refresh-interval="50">{{company.0.consultantsNo}}</span>
                    <h3>Experienced Consultants</h3>
                </div>
            </div>
            <!--End single fact counter-->
            <!--Start single fact counter-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fact-counter">
                    <span class="timer" data-from="0" data-to="{{company.0.ServicesNo}}" data-speed="2000" data-refresh-interval="50">{{company.0.ServicesNo}}</span>
                    <h3>Projects Completed</h3>
                </div>
            </div>
            <!--End single fact counter-->
            <!--Start single fact counter-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-fact-counter">
    <span class="timer" data-from="0" data-to="100" data-speed="2000" data-refresh-interval="50">100</span>
                    <i class="fa fa-percent" aria-hidden="true"></i>
                    <h3>Satisfied Customers</h3>
                </div>
            </div>
            <!--End single fact counter-->
        </div>
    </div>
</section>
<!--End fact counter area-->

<!--Start Industry Expertise area-->
<section class="industry-expertise-area">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="sec-title">
                    <h1>Industry Expertise</h1>
                    <span class="border"></span>
                </div>
            </div>
            <div class="col-md-7">
                <h2>Sanjeewaniglobal Consulting has extensive experience. We help our clients set new standards of excellence.</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Start single industry expertise item-->
            <div class="col-md-6 center-block">
                <div class="single-industry-expertise-item">
                    <a href="#"><div class="icon-holder">
                        <span class="flaticon-business-2"></span>
                    </div></a>
                    <div class="content">
                        <a href="#"><h3>MBBS Colleges</h3></a>
                        <p>We help people select best MBBS colleges for themselves across many countries. </p>
                    </div>
                </div>
            </div>
            <!--End single industry expertise item-->
            <!--Start single industry expertise item-->
            <div class="col-md-6">
                <div class="single-industry-expertise-item">
                    <div class="icon-holder">
                        <span class="flaticon-icon-1532"></span>
                    </div>
                    <div class="content">
                        <h3>Jobs Consultation</h3>
                        <p>COMMING SOON </p>
                    </div>
                </div>
            </div>

            <!--End single industry expertise item-->
        </div>
    </div>
</section>
<!--End Industry Expertise area-->

<!--Start caption area-->
<section class="caption-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="caption-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#caption-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#caption-carousel" data-slide-to="1"></li>
                        <li data-target="#caption-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner text-center" role="listbox">
                        <div class="item active">
                            <div class="single-caption-carousel-item">
                                <h1>Our mission is to help our clients set new standards of excellence in their career</h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-caption-carousel-item">
                                <h1>Our mission is to help our clients set new standards of excellence in their career</h1>
                            </div>
                        </div>
                        <div class="item">
                            <div class="single-caption-carousel-item">
                                <h1>Our mission is to help our clients set new standards of excellence in their career</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Start caption area-->

<!--Start how work and faq area-->
<section class="how-work-and-faq-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="how-we-work-content">
                    <div class="sec-title">
                        <h1>How We Work & FAQ’s</h1>
                        <span class="border"></span>
                    </div>
                    <h3>We are not providing only admission Consultation; we provide the best guidelines to students. </h3>
                    <div class="content-and-video-gallery-holder">
                        <div class="video-gallery">
                            <img src="/Statistic/img/resources/how-we-work-video-gallery.jpg" alt="Awesome Image">
                            <div class="overlay">
                                <div class="box">
                                    <div class="content text-center">
                                        <a class="video-popup" href="https://www.youtube.com/watch?v=KssOT2QVg-M"><img src="/Statistic/img/resources/play-btn.png" alt="Awesome Image"/></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-holder">
                            <p> We provide our Guidelines under NRI/ Management Quota, Sanjeewani Global Consultancy Provide Admission counseling since 2013.</p>
                            <a href="">Know more about us<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="faq-content">
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        {{#each faqs}}
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>{{{this.question}}}</h4></div>
                            <div class="accord-content">
                                <p>{{{this.answer}}}</p>
                            </div>
                        </div>
                        {{/each}}
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                                              <!--End single accordion box-->
                    </div>
                    <a href="/faq">Know more faqs<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End how we work and faq area-->

<!--Start testimonial carousel area-->
<section class="testimonial-carousel-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="bxslider">
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="img-holder">
                                        <img src="/images/ashu.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h2>“ Sanjeewaniglobal has helped us to just have a better handleon everything in our business ” </h2>
                                        <h4>Mark Vilton - Villo Finance Ceo</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="img-holder">
                                        <img src="/images/ashu.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h2>“ Sanjeewaniglobal has helped us to just have a better handleon everything in our business ” </h2>
                                        <h4>Mark Vilton - Villo Finance Ceo</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="img-holder">
                                        <img src="/images/ashu.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h2>“ Sanjeewaniglobal has helped us to just have a better handleon everything in our business ” </h2>
                                        <h4>Mark Vilton - Villo Finance Ceo</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="img-holder">
                                        <img src="/images/ashu.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h2>“ Sanjeewaniglobal has helped us to just have a better handleon everything in our business ” </h2>
                                        <h4>Mark Vilton - Villo Finance Ceo</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="img-holder">
                                        <img src="/images/ashu.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h2>“ Sanjeewaniglobal has helped us to just have a better handleon everything in our business ” </h2>
                                        <h4>Mark Vilton - Villo Finance Ceo</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-item">
                                    <div class="img-holder">
                                        <img src="/images/ashu.jpg" alt="Awesome Image">
                                    </div>
                                    <div class="content">
                                        <h2>“ Sanjeewaniglobal has helped us to just have a better handleon everything in our business ” </h2>
                                        <h4>Mark Vilton - Villo Finance Ceo</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End testimonial carousel area-->

<!--Start latest news area-->
<section class="latest-news-area">
    <div class="container">
        <div class="sec-title pull-left">
            <h1>Latest News & Updates</h1>
            <span class="border"></span>
        </div>
        <div class="button pull-right">
            <a href="/news">View All</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--Start single blog post-->
            {{#each partialData.threeUpdates}}
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-blog-post">
                    <div class="img-holder">
                        <img src="https://s3.amazonaws.com/sanjeewaniglobal-images/{{this.imageName}}" alt="Awesome Image" style="width: 370px; height: 200px">
                        <div class="overlay">
                            <div class="box">
                                <div class="content">
                                    <a href="/">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="title">
                        <a href="blog-single.html">{{{this.heading}}}</a>
                    </h3>
                </div>
            </div>
            {{/each}}
            <!--End single blog post-->
            <!--Start single blog post-->

            <!--End single blog post-->
        </div>
    </div>
</section>
<!--End latest news area-->

<!--Start call back area-->
<section class="call-back-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="call-back-form">
                    <div class="sec-title pull-left">
                        <h1>Request a Call Back.</h1>
                        <span class="border"></span>
                    </div>
                    <form action="/user/requestCallBack">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="select-field">
                                    <select class="selectpicker" name="interest">
                                        <option>MBBS Consultancy</option>
                                        <option>Job Consultancy</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Your Name *">
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="email" placeholder="Your Mail *">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="phone" placeholder="Phone Number *">
                            </div>
                            <div class="col-md-6">
                                <button class="hvr-sweep-to-bottom" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content">
                                <p class="top-text"><strong>For Business:</strong>  For Business inquiry fill our short feedback form or you can also send us an email at <span>aryan@sanjeewaniglobal.com</span> and we’ll get in touch shortly, or call at <span>- (+91) 7060335894.</span></p>

                                <p><strong>Office Hours :</strong> 07:30 and 19:00 Mon to Sun</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End call back area-->

<!--Start Brand area-->

<!--End Brand area-->

<!--End footer bottom area-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
