
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(/images/services.jpeg);">
	<div class="container text-center">
		<h1>MBBS Colleges</h1>
		<span class="border"></span>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="/mbbs">MBBS Colleges</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li>MBBS Colleges</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start project area-->
<section class="services-area">
    <div class="container">
        <div class="row">
            <!--Start single service item-->
						<div class="col-md-12">
				 <div class="box">
					 <div class="box-header">
						 <!-- <h3 class="box-title">Hover Data Table</h3> -->
					 </div>
					 <!-- /.box-header -->
					 <div class="box-body">
						 <table id="colleges" class="table table-bordered table-hover">
							 <thead>
							 <tr>
								 <th>Name of College</th>
								 <th>Country</th>
								 <th>City</th>
								 <th>Established</th>
								 <th>Total Fee (In INR)</th>
							 </tr>
							 </thead>
							 <tbody>
								 {{#each colleges}}
							 <tr>
								 <td><a href="/college/{{this.id}}/show" style="color: #9e9e9e">{{this.name}}</a></td>
								 <td>{{this.country}}</td>
								 <td>{{this.city}}</td>
								 <td>{{this.established}}</td>
								 <td>{{this.fee}}</td>
							 </tr>
							 {{/each}}
							 </tbody>
							 <tfoot>
							 <tr>
								 <th>Name of College</th>
								 <th>Country</th>
								 <th>City</th>
								 <th>Established</th>
								 <th>Total Fee (In INR)</th>
							 </tr>
							 </tfoot>
						 </table>
					 </div>
					 <!-- /.box-body -->
				 </div>
			 </div>
				 <!-- /.box -->

            <!--End single service item-->
            <!--Start single service item-->

            <!--End single service item-->
        </div>
    </div>
</section>
<!--End project area-->

<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="title pull-left">
            <h2>Sanjeewni Global Consultancy, India's Leading admission Consultant.</h2>
        </div>
        <div class="buttons pull-right">
            <a href="/apply" class="hvr-sweep-to-bottom">Apply Online</a>
        </div>
    </div>
</section>
<!--End slogan area-->
