
<!--Start breadcrumb area-->
<section class="breadcrumb-area" style="background-image: url(img/breadcrumb/breadcrumb-bg.jpg);">
	<div class="container text-center">
		<h1>Our Team</h1>
		<span class="border"></span>
	</div>
</section>
<!--End breadcrumb area-->

<!--Start breadcrumb bottom area-->
<section class="breadcrumb-bottom-area">
    <div class="container">
        <div class="left pull-left">
            <a href="#">Our Team</a>
        </div>
        <div class="right pull-right">
            <ul>
                <li><a href="/">Home</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li><a href="/aboutUs">About Us</a></li>
                <li><span class="flaticon-arrowhead-pointing-to-the-right"></span></li>
                <li>Our Team</li>
            </ul>
        </div>
    </div>
</section>
<!--End breadcrumb bottom area-->

<!--Start our team area-->
<section class="our-team-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 pull-right">
                <div class="team-member">
                    <div class="row">
                        <!--Start single team member-->
												{{#each team}}
                        <div class="col-md-4">
                            <div class="single-team-member">
                                <div class="img-holder">
                                    <img src="https://s3.amazonaws.com/sanjeewaniglobal-images/{{this.imageName}}" alt="Awesome Image">
                                    <div class="overlay">
                                        <div class="box">
                                            <div class="content">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h3>{{this.name}}</h3>
                                    <span>{{this.post}}</span>
                                    <p>{{{this.intro}}}</p>
                                </div>
                            </div>
                        </div>
												{{/each}}

                        <!--End single team member-->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-7 col-xs-12 pull-left">
                <div class="about-sidebar">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <ul class="about-lists">
                            <li><a href="/aboutUs">About Company</a></li>
                            <li><a href="/history">Company History</a></li>
                            <li class="active"><a href="/team">Our Team</a></li>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/feedback">Client Feedback</a></li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h2>Our Brochures</h2>
                            <span class="border"></span>
                        </div>
                        <ul class="brochures-lists">
                            <li>
                                <a href="#">
                                    <span>Pdf</span>Download.Pdf<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Doc</span>Download.Txt<i class="flaticon-download-to-storage-drive"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->

                    <!--End single sidebar-->
                    <!--Start single sidebar-->
										<div class="single-sidebar business">
                        <div class="business-enquiry">
                            <h4>For Business Enquiry</h4>
                            <p>You can also send us an email at {{partialData.primaryAddress.email}} and we’ll get in touch shortly, or You Can Call to our Troll Free Number -</p>
                            <span>{{partialData.primaryAddress.phone}}.</span>
                        </div>
                    </div>
                    <!--End single sidebar-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End our team area-->

<!--Start slogan area-->
<section class="slogan-area">
    <div class="container">
        <div class="title pull-left">
            <h2>Sanjeewni Global Consultancy, India's Leading admission Consultant.</h2>
        </div>
        <div class="buttons pull-right">
            <a href="/apply" class="hvr-sweep-to-bottom">Apply Online</a>
        </div>
    </div>
</section>
<!--End slogan area-->
